* {
    box-sizing: border-box;
}
 
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #e1e1e1;
    padding: 0;
    margin: 0;
}
 
 
.container {
    border: 2px solid black;
    width: 400px;
    margin: 3%;
    display: inline-block;
}
 
 
.head-container {
    background-color: #565656;
    padding-top: 1px;
    border-bottom: 2px solid black;
    color: white;
}
 
.input-container {
    padding: 20px;
    text-align: left;
}
 
 
input[type="date"] {
    width: 100%;
    padding: 14px;
    margin: 5px 0 8px 0;
    display: inline-block;
    border: 1px solid #e1e1e1;
    background: #fff;
}
 
input[type="button"] {
    color: white;
    background-color: #565656;
    border: none;
    border-radius: 5px;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    float: right;
    opacity: 0.7;
}
 
 
 
input[type="button"]:hover {
    opacity: 1;
}
 
 
button {
    color: white;
    background-color: #565656;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    opacity: 0.7;
}
 
 
 
button:hover {
    opacity: 1;
}
 
#result {
    border: 1px solid #e1e1e1;
    background-color: #565656;
    color: white;
    margin: 20px 0 0 0;
    padding: 12px 16px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}